.DS_Store
.idea
.bundle
outputs/
Gemfile.lock

# store local info used during development, but no longer needed
archive/
~$*.xlsx
*_bad.xml
.rubocop-http---s3-amazonaws-com-openstudio-resources-styles-rubocop-yml